
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAlunoLabel" data-translate="jhipsterApp.aluno.home.createOrEditLabel">Create or edit a Aluno</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.aluno.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.aluno.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jhipsterApp.aluno.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                    ng-model="vm.aluno.nome"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jhipsterApp.aluno.documento" for="field_documento">Documento</label>
            <input type="number" class="form-control" name="documento" id="field_documento"
                    ng-model="vm.aluno.documento"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jhipsterApp.aluno.matricula" for="field_matricula">Matricula</label>
            <input type="number" class="form-control" name="matricula" id="field_matricula"
                    ng-model="vm.aluno.matricula"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jhipsterApp.aluno.periodo" for="field_periodo">Periodo</label>
                <div class="input-group">
                    <input id="field_periodo" type="text" class="form-control" name="periodo" datetime-picker="{{dateformat}}" ng-model="vm.aluno.periodo" is-open="vm.datePickerOpenStatus.periodo"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('periodo')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="jhipsterApp.aluno.programa" for="field_programa">Programa</label>
            <select class="form-control" id="field_programa" name="programa" ng-model="vm.aluno.programa" ng-options="programa as programa.id for programa in vm.programas track by programa.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="jhipsterApp.aluno.professor" for="field_professor">Professor</label>
            <select class="form-control" id="field_professor" name="professor" ng-model="vm.aluno.professor" ng-options="professor as professor.id for professor in vm.professors track by professor.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
