
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDisciplinaLabel" data-translate="jhipsterApp.disciplina.home.createOrEditLabel">Create or edit a Disciplina</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.disciplina.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.disciplina.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jhipsterApp.disciplina.numeroDeVagas" for="field_numeroDeVagas">Numero De Vagas</label>
            <input type="number" class="form-control" name="numeroDeVagas" id="field_numeroDeVagas"
                    ng-model="vm.disciplina.numeroDeVagas"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jhipsterApp.disciplina.horario" for="field_horario">Horario</label>
                <div class="input-group">
                    <input id="field_horario" type="text" class="form-control" name="horario" datetime-picker="{{dateformat}}" ng-model="vm.disciplina.horario" is-open="vm.datePickerOpenStatus.horario"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('horario')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jhipsterApp.disciplina.sala" for="field_sala">Sala</label>
            <input type="text" class="form-control" name="sala" id="field_sala"
                    ng-model="vm.disciplina.sala"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jhipsterApp.disciplina.codigo" for="field_codigo">Codigo</label>
            <input type="text" class="form-control" name="codigo" id="field_codigo"
                    ng-model="vm.disciplina.codigo"
                     />
        </div>
         <div class="form-group">
            <label class="control-label" data-translate="jhipsterApp.disciplina.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                    ng-model="vm.disciplina.nome"
                     />
        </div>
        <div class="form-group">
            <label data-translate="jhipsterApp.disciplina.professor" for="field_professor">Professor</label>
            <select class="form-control" id="field_professor" name="professor" ng-model="vm.disciplina.professor" ng-options="professor as professor.nome for professor in vm.professors track by professor.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
